hoist=false

strict-peer-dependencies=true
dedupe-peer-dependents=true
auto-install-peers=true

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=@commitlint/cli
public-hoist-pattern[]=@babel/preset-react