@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--sk-green);
  border-bottom: 2px dashed var(--sk-green);
  transition: all 0.15s ease;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(5, 150, 105, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
